/* ***NAV*** */

.nav-body {
    background-color: white !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
    min-width: 320px;
    height: 60px;
}

.nav-item {
    padding: 12px;
    transition: ease-in 0.2s;
    color: black;
    font-size: 24px;
    border-radius: 20px;
    width: max-content;
}

.nav-item span {
    display: none;
}

.nav-item-top {
    padding: 10px;
    margin-right: 40px;
    transition: ease-in 0.2s;
    color: black;
    font-size: 18px;
    background-color: white;
    border-radius: 20px;
}

.nav-item-top:hover,
.nav-item:hover {
    background-color: rgba(73, 71, 71, 0.144);
    color: black !important;
}

.nv-icon-36 {
    font-size: 30px !important;
    vertical-align: bottom;
}

.nv-icon-22 {
    font-size: 20px !important;
    vertical-align: bottom;
}

.navbar-brand {
    transition: ease-in 0.2s;
    color: black !important;
    font-size: 24px !important;
}

.side-nav {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    background-color: white;
    margin-right: 5px;
    list-style: none;
    display: flex;
    flex-flow: row;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: stretch;
    justify-content: space-around;
}


/* ***NAV END*** */


/* ***CONTENT*** */

.main-container {
    display: flex;
    margin-top: 55px;
    height: calc(100vh - 60px);
    overflow-y: hidden;
}

.main-container .content {
    width: 100%;
    margin-top: 30px;
    overflow-y: auto;
}

.main-container .side-content-left {
    position: relative;
    min-height: 70px;
    z-index: 1000;
}


/* ***CONTENT END*** */