.bookmark-icon {
    position: absolute;
    align-self: flex-end;
    margin-right: 15px;
    margin-top: 20px;
    z-index: 10;
}

.bookmark-icon>i.material-icons {
    color: #0d6efd;
}

.bookmark-icon>i {
    font-size: 34px;
    transition: ease-in 0.2s;
}

.bookmark-icon>i:hover {
    color: #0d6efd;
}

.main-card {
    transition: ease-in 0.1s;
    cursor: pointer;
}

.main-card:hover {
    border: #0d6efd solid 1px;
}

.star-rating {
    color: #0d6efd;
    font-size: 24px;
    width: 30px;
}

.star-rating-hover{
    cursor: pointer;
}

.dist-bar-background {
    content: ' ';
    height: 20px;
    width: 200px;
    background-color: #e4e7eb;
    overflow: hidden;
}

.dist-bar-filled {
    content: ' ';
    height: 20px;
    width: 0%;
    background-color: #0d6efd;
}

.reviews{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.review-title{
    border-top: solid #0d6efd 1px;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}